<p>la direccion es : {{direccion}}</p>
<p>el texto duplicado es igual a {{duplicarTexto('pruebassss')}}</p>
<p>el texto duplicado es igual a {{persona.nombre}}</p>
<p>el texto duplicado es igual a {{persona.nombre}}</p>

<p #miparrafo>Este es un parrafo</p>
este es el imput con el parrafo <input value="{{miparrafo.innerHTML}}" >

<h2>Biding  de Eventos </h2>

<div>
  <h3>Ejemplos 1 - Binding de eventos con el boton</h3>
  <button (click)="incrementar()">Incrementar Contador</button>
  <button (click)="cantidad = cantidad + 1 ">Incrementar Contador Plantilla</button>
  Contador  : {{ cantidad }}
</div>
<div>
  <h3>Ejemplo 3 - Otros eventos y objeto especial $event</h3>
  <input (input)="onTextboxInput($event)" >
  <br>
  Texto escrito: {{textoEscrito}}
</div>
<div>
  <h3>Eejmplo 1 - Binding de evento con un boton</h3>

  Seleccionar una Imagen:
  <select id="selectImagen" (change)="imagenURL = $event.target.value">
    <option
    value="https://www-asp.azureedge.net/v-2018-11-02-001/images/ui/asplogo-square.png"
    >ASP.NET</option>
  <option
    value="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    >Angular</option>

  </select>
    


    <img [src]="imagenURL"/>

</div>

<div>
  <h3>Ejemplo 1 - Podemos agregar una o mas clases</h3>
  <input id="chb" type="checkbox" (change)="estaCheckeado = !estaCheckeado" />
  <input id="chb2" type="checkbox" (change)="tamanoCheck = !tamanoCheck" />

  Cambiar clases
  <br>

  
    <br>
  <div class="cuadrado" [ngClass]="{'secundario': estaCheckeado , 'cuadrado-grande': tamanoCheck}" ></div>
</div>
<div>  
  <h3>Ejemplo 3 Editando dianmicamente los estilos</h3>
  <input id="chb" type="checkbox" (change)="colorCheckp = !colorCheckp"/>
  <br>
  <input type="number" (input)="anchuraAltura = $event.target.value" value="100"/>

  <div class="cuadrado" [ngStyle]="{'background-color' : colorCheckp ? 'red' : 'blue'}"  ></div>
  <br>
  <div class="cuadrado" [ngStyle]="{'background-color' : colorCheckp ? 'blue' : 'red' , 'width' : anchuraAltura + 'px' , 'height' : anchuraAltura + 'px'}" >

  </div>
  
</div>
<div>
 Escribe algo :  <input type="text" [(ngModel)]="texto" >
 <strong>El valor de la variable {{texto}}</strong>
 <br>
 <button (click)="CambiarMayuscula()">Mayuscula</button>
 <button (click)="CambiarMinuscula()">Minuscula</button>
</div>
<div>
  <h3>Mostar contenido if</h3>

  <input type="checkbox" id="chb" (change)="estadoCheckeado=!estadoCheckeado">Mostar Contenido
  <div *ngIf="estadoCheckeado">
    el check box esta seleccionado

  </div>




</div>

<div *ngIf="dataCargada">
  La data ha cargado
</div>
<br>
<div>
  <h3>Ciclo de arreglo</h3>
    <ul>
      <li *ngFor="let nombre of nombres">{{nombre}}</li>
    </ul>
</div>

<div>
  <h3>Recorriendo Json </h3>
  <table>
    <thead>
      <tr>
        <th>Indice</th>
        <th>Nombre</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas ;  let indice = index ; let primer = first ; let ultimo = last ; let par = even 
         , let impar = odd" [ngClass]="{'par' : par , 'impar' : impar}">
        <td>{{indice}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.edad}}</td>


      </tr>
    </tbody>
  </table>
</div>